{% extends 'base.html' %}

{% block conteudo %}
<form action="/dados" method="post">
    <label for="cantor">Cantor:</label>
    <input type="text" name="cantor" id="cantor">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email">
    <label for="idade">Idade:</label>
    <input type="number" name="idade" id="idade">
    <label for="musica">Them bones:</label>
    <input type="checkbox" name="musica" id="1" value="Them bones">
    <label for="musica">Nutshell:</label>
    <input type="checkbox" name="musica" id="2" value="nutshell">
    <label for="musica">Man in box</label>
    <input type="checkbox" name="musica" id="3" value="maninbox">
    <label for="musica">Down in a hole</label>
    <input type="checkbox" name="musica" id="4" value="downinahole">
    <label for="musica">Rooster</label>
    <input type="checkbox" name="musica" id="5" value="rooster">
    <label for="musica">Dam that river</label>
    <input type="checkbox" name="musica" id="6" value="damthatriver">
    

    <button type="submit">Enviar</button>
</form>
{% endblock %}